.chat-content
  .chat-content__grouptitle
    .title
      = @messagetitle
    .nickname
      = "Member："
      %span
        - @members.each do |member|
          = + member.name
  = render @messages
