.chat-content__message
  .nickname
    = message.user.name
    %span{class: "date"}
      = message.created_at
  .chat-text
    .lower-meesage
      - if message.body.present?
        %p.lower-message__content
          = message.body
      = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
