.contents{
  height: 100vh;
  widht: 100vw;
  .chat-content{
    position: relative;
    float: right;
    width: calc(100% - 380px);
    margin-right: 40px;
    height: calc(100% - 100px);
    overflow: scroll;
    .chat-content__grouptitle{
      .title{
        padding-top: 35px;
        padding-bottom: 15px;
        font-size: 20px;
        color: #333333;
      }
      .nickname{
        font-size: 12px;
        color: #999999;
        padding-bottom: 46px;
      }
    }
    .chat-content__nickname{
      .nickname{
        font-size: 16px;
        padding-bottom: 10px;
        .date{
          font-size: 12px;
          color: #999999;
        }
      }
      .chat-text{
        font-size: 14px;
        padding-bottom: 40px;
      }
    }
  }
}
