.message-box{
  height: 90px;
  width: calc(100vw - 380px);
  position: absolute;
  bottom: 20px;
  right: 40px;
  .form__message{
    width: 85%;
    height: 50px;
    margin: 20px 0;
    float: left;
    position: relative;
  }
  .icon{
    position: absolute;
    right: 16%;
    top: 40%;
  }
  .form__submit{
    height: 50px;
    width: 13%;
    background-color: $mainblueColor;
    color: white;
    float: right;
    margin: 20px 0;
  }
  .hidden{
    width: 30px;
    opacity: 0;
    position: absolute;
    right: 15.5%;
    top: 35%;
  }
}

