.contents{
  height: 100%;
  widht: 100%;
  .content__left{
    float: left;
    width: 300px;
    .content__left--user{
      font-size: 16px;
      font-style: bold;
      color: #FFFFFF;
      background-color: #253141;
    }
  }
  .content__right{
    float: right;
    width: calc()
  }
}

