.contents{
  height: 100vh;
  widht: 100vw;
  .content__left{
    height: 100%;
    width: 300px;
    float: left;
    background-color: $ContentLeftColor;
    color: #FFFFFF;
    .content__left--user{
      height: 80px;
      background-color: #253141;
      margin-bottom: 20px;
      padding: 0 20px;
      p{
        padding-top: 40px;
        font-size: 16px;
        font-style: bold;
        float: left;
      }
      .icon{
        float: right;
        padding-top: 40px;
        padding-left: 10px;
      }
    }
    .content__left--group{
      .group_name{
        text-size: 15px;
        padding: 0 20px 5px;
      }
      p{
        text-size: 11px;
        padding: 0 20px 40px;
      }
    }
  }
  .content__right{
    position: relative;
    float: right;
    width: calc(100% - 380px);
    margin-right: 40px;
    height: 100%;
    .content__right--grouptitle{
      padding-top: 35px;
      padding-bottom: 15px;
      font-size: 20px;
      color: #333333;
      p{
        font-size: 12px;
        color: #999999;
        padding-bottom: 46px;
      }
    }
    .content__right--nickname{
      font-size: 16px;
      padding-bottom: 10px;
      p{
        font-size: 14px;
        padding-bottom: 40px;
      }
    }
    footer{
      position: absolute;
      bottom: 20px;
      height: 50px;
      width: 100%;
      .input_text{
        line-height: 50px;
        width: 80%;
      }
      a{
        width: calc(8%-30px);
      }
      .send{
        height: 100%;
        width: 12%;
        float: right;
        background-color: #38aef0;
        color: white;
      }
    }
  }
}

